body {
	font-family: 'Lato';
}

nav h2 {
	margin: 0 0 0 8%;
	display: inline-block;
}

#login {
	height: 1.5em;
	width: 1.5em;
	float: right;
	margin: .1em 2em 0 0;
}

#wrapper {
	width: 100%;
}

.panels {
	width: 48%;
	min-width: 300px;
	display: inline-block;
}

.panels h1 {
	margin: 5em 0 0 5em;
}

.search {
	margin: 1em 0 0 7em;
}

.panels button {
	position: relative;
	left: 17.4em;
	margin-top: .2em;
	border: none;
	outline: none;
	color: white;
	background-color: black;
}